
/* this probably doesn't need much if anything more*/

/* transitions nice, images placed left */
/* text_box and button placed and working fine, button size fixed. */
/*    1024px_wide_still.jpg   test image https://pbs.twimg.com/profile_images/71782025/mrDisco.JPG    */

body {
	background: #000;
	background-image: url('1024px_wide_still.jpg');	
	background-repeat: no-repeat;
	background-size: 1000px;
	background-position: right top;
	font-family: 'Berkshire Swash', cursive;	
}

/*------------------------------ supporting the image cycling ---------------------------------------*/

/* Basic background image styling. */
.background-image {
    background-position:right top;
	background-repeat: no-repeat;
	background-size: 1000px;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 800px;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('1024px_wide_1st.jpg');
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('1024px_wide_2nd.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('1024px_wide_3rd.jpg');
	z-index: -1;
	opacity: 0;
}
/* layering opacities made transitions better */
.first-image.show {
	opacity: .5;
}

.second-image.show {
	opacity: .8;
}

.third-image.show {
	opacity: 1;
}

/*--------------------------- CSS for ID elements ------------------------------------------*/

#text_box {
  width: 250px; /*this fills the top space without overflowing below the img if full screen*/
  height: 25px;
  font-size: 14px;
  border-radius: none;
  background-color: #fff; /*white*/
  text-align: right;
  margin-right: 10px;

}
#button {
	padding: 6px;
	background-color: rgba(255, 255, 255, .9);
	color: #888888;
}

#form {
	display: inline-block; 
	vertical-align: left top; 
	margin-top: 5px;
}

#button, #text_box{
  margin: 0px
  margin-top: 5px;
  vertical-align: right top;
}

#answer_tile{ /* AM I STILL USING THIS? ~font ok*/
  width: 330px; 
  height: 225px;
  font-size: 22px;
  color: #FFEDE0;  /* STOP here! */
  border-radius: none;
  background-color: #000; 
  text-align: right; /*nicer*/
  margin-top: 5px;
  vertical-align: left top;
}

#opener, #answer, #middle{ /*font ok*/
  width: 330px; 
  font-size: 21px; 
  color: #FFEDE0;  
  border-radius: none;
  background-color: #000; /*return to #000 for black, test for size*/
  text-align: right; 
  margin-top: 35px;
  vertical-align: left top;
}

#opener{
  height: 90px;
}
#middle{
  height: 170px;
}
#answer{
  height: 130px;
}
